@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
body{
    background-color: aqua;
}
a{
    text-decoration: none;
    color:inherit;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:black;
    padding: 10px 20px;
}
.nav-country{
    display: flex;
    align-items: end;
    margin-left: 10px;
    font-size: 10px;
    color: antiquewhite;
}
.nav-country h1{
    color:rebeccapurple;
    font-size: 20px;

}